# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

TODO

# Logs
logs
*.log

# dotenv
.env

# Docker
*.pid
docker-compose.override.yml

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Mongo
*.lock
dump/

# Build
/dist
/build

# Misc
.idea/ 